@charset "UTF-8";
html,
body {
  height: 100%;
  /*bodyを画面いっぱいに広げる設定*/
}

#wrap {
  /*コンテンツ領域が画面の高さに満たない場合もフッタを最下部に固定する方法*/
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*ロゴとulを横に並べる*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav {
  margin-left: auto;
  /*メニューを右寄せ*/
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .li {
  margin-left: 40px;
  font-size: 15px;
}

.header a {
  text-decoration: none;
  color: #010111;
  font-weight: bold;
}

.header .logo {
  font-size: 24px;
}

.footer {
  left: 0;
  /* 左から配置の基準位置を決める */
  position: fixed;
  bottom: 0;
  width: 100%;
  /* ヘッダーの横幅を指定する */
  padding: 15px 0px;
  /* ヘッダーの余白を指定する(上下左右) */
  text-align: center;
  /*fontを中心にする*/
  background-color: #ffffff;
  font-family: open-sans,sans-serif;
  /*Open Sans Regular */
  font-weight: 505;
  font-size: 16px;
  color: #010111;
}

.content {
  background: #f2f2f2;
  padding: 20px 200px 0 200px;
  height: 100vh;
}

.card_form {
  text-align: center;
  /*左右中央寄せ*/
  margin: 0 auto;
  /*左右中央寄せ*/
  margin-top: 5%;
}

.card_form .title-login {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 30px;
}

.card_form .form-control {
  width: 300px;
  border-radius: 4px;
  border-color: #909090;
  padding: 10px;
  background-color: #f2f2f2;
  /*入力部分の背景色を指定する */
}

.card_form .md-form {
  padding-bottom: 30px;
}

.card_form .btn-login {
  width: 324px;
  font-size: 17px;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  border-color: #214be0;
  background-color: #214be0;
  /*背景色を指定する */
  cursor: pointer;
}

.card_form .section_register .msg-register {
  color: #909090;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 6px;
}

.card_form .section_register .link_register {
  color: #214be0;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  /*リンクのアンダーラインを削除*/
}

.card_form .section_register a {
  text-decoration: none;
}

.card_form {
  text-align: center;
  /*左右中央寄せ*/
  margin: 0 auto;
  /*左右中央寄せ*/
  margin-top: 5%;
}

.card_form .title-register {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 30px;
}

.card_form .form {
  margin: 0;
  text-align: center;
}

.card_form .form-control {
  width: 300px;
  border-radius: 4px;
  border-color: #909090;
  padding: 10px;
  background-color: #f2f2f2;
  /*入力部分の背景色を指定する */
}

.card_form .md-form {
  padding-bottom: 30px;
}

.card_form .btn-register {
  width: 324px;
  font-size: 17px;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  border-color: #214be0;
  background-color: #214be0;
  /*背景色を指定する */
  cursor: pointer;
}

.card_form .section_login .msg-login {
  color: #909090;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 6px;
}

.card_form .section_login .link_login {
  color: #214be0;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  /*リンクのアンダーラインを削除*/
}

.card_form .section_login a {
  text-decoration: none;
}

.user_name {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 24px;
  font-weight: bold;
}

.flash_message {
  text-align: center;
  background-color: #E4B7BA;
  color: #010111;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f2f2f2;
}

.btn-list .btn-item {
  -ms-flex-preferred-size: calc((100% - 40px) / 2);
      flex-basis: calc((100% - 40px) / 2);
  max-width: calc((100% - 40px) / 2);
  height: 200px;
  margin-top: 40px;
  text-align: center;
  background: #fff;
}

.btn-list .btn-item:nth-of-type(1),
.btn-list .btn-item:nth-of-type(2) {
  margin-top: 0;
}

.btn-list .attendance-btn {
  text-decoration: none;
  font-size: 25px;
  color: #010111;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-list .inactive {
  color: #eae8e1;
}

.date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 40px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.date-container .date-list {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.date-container .arrow
.date {
  display: block;
  padding: 5px 0;
}

.date-container a:-webkit-any-link {
  text-decoration: none;
}

.date-container .arrow {
  background-color: #fff;
  font-size: 30px;
  border-radius: 3px;
  border: 1px solid #0000ff;
  text-align: center;
  vertical-align: middle;
  padding: 0px 5px 4px 5px;
  /*内側の余白*/
}

.date-container .date {
  margin: 0 10%;
  width: 15%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.date_lists {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.date_lists table {
  width: 100%;
  border-collapse: collapse;
}

.date_lists .lists_title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid black;
}

.date_lists td,
.date_lists th {
  border-top: 1px solid black;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.date_lists .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.date_lists .pagination .page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.date_lists .pagination .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}

.date_lists .pagination .page-link {
  padding: 0.375rem 0.75rem;
}

.date_lists .pagination .page-link {
  position: relative;
  display: block;
  color: #0d6efd;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.date_lists .pagination .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.date_lists .pagination .page-item:not(:first-child) .page-link {
  margin-left: -1px;
}
/*# sourceMappingURL=app.css.map */