header{

  text-align: center;

  a{
    text-decoration: none;
    color: rgb(1, 1, 17);
  }

  * {
        margin: 0;
        padding: 0;
    }

    li{
      font-weight: bold;
    }

    ul {
        list-style: none;
    }

    div {
        padding: 0 30px;
    }

    .header__flex {
        display: flex;
        align-items: center;
    }

    .header__flex nav {
        margin-left: auto;
    }

    .header__flex ul {
        display: flex;
    }

    .header__flex ul li {
        margin-left: 20px;
    }
}


main{
    .content{
        padding-left: 200px;
        padding-right: 200px;

            .user_name {
                text-align: center;
                padding-top: 50px;
                padding-bottom: 50px;
                font-size: 24px;
                font-weight: bold;
            }

            .btn-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                /* 以降はレイアウトとは無関係です */
                background: #f2f2f2;

                .btn-item {
                    flex-basis: calc((100% - 40px) / 2);
                    max-width: calc((100% - 40px) / 2);
                    height: 200px;
                    margin-top: 40px;
                    //text-align:center;
                    background: #fff;
                }

                .btn-item:nth-of-type(1),
                .btn-item:nth-of-type(2) {
                    margin-top: 0;
                }

                .attendance-btn {
                    text-decoration: none;
                    font-size: 25px;
                    color: rgb(1, 1, 17);
                    font-weight: bold;
                    //text-align:center;
                    display: block; //全面クリックするために必要なコード
                    width: 100%; //全面クリックするために必要なコード
                    height: 100%; //全面クリックするために必要なコード
                    display: flex; //文字を上下左右中央に配置
                    justify-content: center; //文字を上下左右中央に配置　/*左右中央揃え*/
                    align-items: center; //文字を上下左右中央に配置/*上下中央揃え*/
                }

                .inactive {
                    color: rgba(80, 80, 83, 0.972)
                }

            }
    }
}


//-------------------------下記削除---------------------------
/*.btn-list{
    background-color: #eee;
    // 背景色指定
    height: 200px;
    // 高さ指定
    display: flex;
    // フレックスボックスにする
    flex-wrap: wrap;
    // 折り返し指定
    //align-content:stretch;
    text-align: center;
    justify-content:space-between;
    margin: 0px;
    padding: 0;
}

.btn-item {
    padding: 10px;
    color: #fff;
    // 文字色
    //margin: 10px;
    // 外側の余白
    border-radius: 5px;
    // 角丸指定
    font-size: 30px;
    // 文字サイズ
    width: 41%;
    // 幅指定
    text-align: center;
    // 文字中央揃え
    justify-content: center;
    cursor: pointer;
    margin-top:20px;
}
*/

/*削除
.btn-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    .attendance-btn {
        font-weight: bold;
        font-size: 25px;
        margin: 25px;
        background: #fff;
        width: 100%;
        height: 200px;
        line-height: 100px;
        cursor: pointer;
    }

    .inactive{
        font-weight: bold;
        font-size: 25px;
        margin: 25px;
        background: #e5e5e5;
        width: 100%;
        height: 200px;
        line-height: 100px;
    }
}
*/
